<a href="https://colab.research.google.com/github/yeiniz/Coding-Test/blob/main/%5B%EB%B0%B1%EC%A4%80%5D%5B%EB%8B%A8%EA%B3%84%EB%B3%84%5D%204.%201%EC%B0%A8%EC%9B%90%20%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **[백준 | 단계별로 풀어보기] 4. 1차원 배열**

### **1. [10807번] 개수 세기**
총 N개의 정수가 주어졌을 때, 정수 v가 몇 개인지 구하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
li = list(map(int, input().split()))
v = int(input())

print(li.count(v))

11
1 4 1 2 4 2 4 2 3 4 4
2
3

### **2. [10871번] X보다 작은 수**
정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.

In [1]:
n, x = map(int, input().split())
li = list(map(int, input().split()))

for i in li:
  if i < x:
    print(i, end=' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

### **3. [10818번] 최소, 최대**
N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

In [3]:
n = int(input())
li = list(map(int, input().split()))

print(min(li), max(li))

5
20 10 35 30 7
7 35

### **4. [2562번] 최댓값**
9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

예를 들어, 서로 다른 9개의 자연수

3, 29, 38, 12, 57, 74, 40, 85, 61

이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

In [5]:
li = []
for i in range(9):
  li.append(int(input()))

m = max(li)
print(m)
print(li.index(m)+1)

3
29
38
12
57
74
40
85
61
85
8

### **5. [10810번] 공 넣기**
도현이는 바구니를 총 N개 가지고 있고, 각각의 바구니에는 1번부터 N번까지 번호가 매겨져 있다. 또, 1번부터 N번까지 번호가 적혀있는 공을 매우 많이 가지고 있다. 가장 처음 바구니에는 공이 들어있지 않으며, 바구니에는 공을 1개만 넣을 수 있다.

도현이는 앞으로 M번 공을 넣으려고 한다. 도현이는 한 번 공을 넣을 때, 공을 넣을 바구니 범위를 정하고, 정한 바구니에 모두 같은 번호가 적혀있는 공을 넣는다. 만약, 바구니에 공이 이미 있는 경우에는 들어있는 공을 빼고, 새로 공을 넣는다. 공을 넣을 바구니는 연속되어 있어야 한다.

공을 어떻게 넣을지가 주어졌을 때, M번 공을 넣은 이후에 각 바구니에 어떤 공이 들어 있는지 구하는 프로그램을 작성하시오.

In [11]:
n, m = map(int, input().split())
li = [0] * (n+1)

for x in range(m):
    i, j, k = map(int, input().split())
    for s in range(i, j+1):
        li[s] = k

for i in range(1, len(li)):
    print(li[i], end=' ')

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

### **6. [10813번] 공 바꾸기**
도현이는 바구니를 총 N개 가지고 있고, 각각의 바구니에는 1번부터 N번까지 번호가 매겨져 있다. 바구니에는 공이 1개씩 들어있고, 처음에는 바구니에 적혀있는 번호와 같은 번호가 적힌 공이 들어있다.

도현이는 앞으로 M번 공을 바꾸려고 한다. 도현이는 공을 바꿀 바구니 2개를 선택하고, 두 바구니에 들어있는 공을 서로 교환한다.

공을 어떻게 바꿀지가 주어졌을 때, M번 공을 바꾼 이후에 각 바구니에 어떤 공이 들어있는지 구하는 프로그램을 작성하시오.

In [27]:
n, m = map(int, input().split())
li = []

for i in range(n+1):
  li.append(i)

for x in range(m):
    i, j = map(int, input().split())
    tmp = li[i]
    li[i] = li[j]
    li[j] = tmp

for i in range(1, len(li)):
    print(li[i], end=' ')

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5

### **7. [5597번] 과제 안 내신 분..?**
X대학 M교수님은 프로그래밍 수업을 맡고 있다. 교실엔 학생이 30명이 있는데, 학생 명부엔 각 학생별로 1번부터 30번까지 출석번호가 붙어 있다.

교수님이 내준 특별과제를 28명이 제출했는데, 그 중에서 제출 안 한 학생 2명의 출석번호를 구하는 프로그램을 작성하시오.

In [19]:
li = [i for i in range(1, 31)]

for i in range(28):
  n = int(input())
  li.remove(n)

print(min(li))
print(max(li))

3
1
4
5
6
7
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

### **8. [3052번] 나머지**
두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다. 예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다.

수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

In [25]:
li = []

for i in range(10):
  n = int(input())
  if n%42 not in li:
    li.append(n%42)

print(len(li))

1
2
3
4
5
6
7
8
9
10
10

### **9. [10811번] 바구니 뒤집기**
도현이는 바구니를 총 N개 가지고 있고, 각각의 바구니에는 1번부터 N번까지 번호가 순서대로 적혀져 있다. 바구니는 일렬로 놓여져 있고, 가장 왼쪽 바구니를 1번째 바구니, 그 다음 바구니를 2번째 바구니, ..., 가장 오른쪽 바구니를 N번째 바구니라고 부른다.

도현이는 앞으로 M번 바구니의 순서를 역순으로 만들려고 한다. 도현이는 한 번 순서를 역순으로 바꿀 때, 순서를 역순으로 만들 범위를 정하고, 그 범위에 들어있는 바구니의 순서를 역순으로 만든다.

바구니의 순서를 어떻게 바꿀지 주어졌을 때, M번 바구니의 순서를 역순으로 만든 다음, 바구니에 적혀있는 번호를 가장 왼쪽 바구니부터 출력하는 프로그램을 작성하시오.

In [29]:
n, m = map(int, input().split())
li = [i for i in range(1, n+1)]

for x in range(m):
  i, j = map(int, input().split())
  tmp = li[i-1:j]
  tmp.reverse()
  li[i-1:j] = tmp

for i in range(n):
  print(li[i], end=' ')

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5

### **10. [1546번] 평균**
세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.

예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.

세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

In [32]:
n = int(input())
score = list(map(int, input().split()))

m = max(score)
for i in range(len(score)):
  score[i] = score[i] / m * 100

print(sum(score)/len(score))

3
40 80 60
75.0