<a href="https://colab.research.google.com/github/yeiniz/Coding-Test/blob/main/%5B%EB%B0%B1%EC%A4%80%5D%5B%EB%8B%A8%EA%B3%84%EB%B3%84%5D%201.%EC%9E%85%EC%B6%9C%EB%A0%A5%EA%B3%BC%EC%82%AC%EC%B9%99%EC%97%B0%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **[백준 | 단계별로 풀어보기] 1. 입출력과 사칙연산**

### **1. [2557번] Hello world**

Hello World!를 출력하시오.

In [ ]:
print("Hello World!")

Hello World!

### **2. [1000번] A + B**

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
a, b = map(int, input().split())
print(a+b)

293 416
709

### **3. [1001번] A - B**

두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.

In [ ]:
a, b = map(int, input().split())
print(a-b)

293 416
-123

### **4. [10998번] A × B**

두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.

In [ ]:
a, b = map(int, input().split())
print(a*b)

24 87
2088

### **5. [1008번] A / B**

두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.

In [ ]:
a, b = map(int, input().split())
print(a/b)

24 5
4.8

### **6. [10869번] 사칙연산**

두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.

In [ ]:
a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

67 7
74
60
469
9
4

###**7. [10926번] ??!**

준하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 준하는 놀람을 ??!로 표현한다. 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 놀람을 표현하는 프로그램을 작성하시오.

In [ ]:
s = input()
print(s+"??!")

joonas
joonas??!

### **8. [18108번] 1998년생인 내가 태국에서는 2541년생?!**

ICPC Bangkok Regional에 참가하기 위해 수완나품 국제공항에 막 도착한 팀 레드시프트 일행은 눈을 믿을 수 없었다. 공항의 대형 스크린에 올해가 2562년이라고 적혀 있던 것이었다.

불교 국가인 태국은 불멸기원(佛滅紀元), 즉 석가모니가 열반한 해를 기준으로 연도를 세는 불기를 사용한다. 반면, 우리나라는 서기 연도를 사용하고 있다. 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.

In [ ]:
n = int(input())
print(n-543)

2541
1998

###**9. [10430번] 나머지**

(A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

(A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

In [ ]:
A, B, C = map(int, input().split())
print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print(((A%C) * (B%C))%C)

6 9 4
3
3
2
2

###**10. [2588번] 곱셈**

(세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.
![다운로드.png]()

(1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

In [ ]:
a = int(input())
b = input()
print(a*int(b[2]))
print(a*int(b[1]))
print(a*int(b[0]))
print(a*int(b))

472
385
2360
3776
1416
181720

###**11. [11382번] 꼬마 정민**

꼬마 정민이는 이제 A + B 정도는 쉽게 계산할 수 있다. 이제 A + B + C를 계산할 차례이다!

In [ ]:
a, b, c = map(int, input().split())
print(a+b+c)

4 6 5
15

###**12. [10171번] 고양이**

고양이를 출력하시오.

In [ ]:
print("""\    /\\
 )  ( ')
(  /  )
 \\(__)|""")

\    /\
 )  ( ')
(  /  )
 \(__)|

### **13. [10172번] 개**
개를 출력하시오.

In [ ]:
print("""|\\_/|
|q p|   /}
( 0 )\"\"\"\\
|"^"`    |
||_/=\\\\__|""")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|